# dependencies
node_modules/
.pnpm-store/

# python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/

# env
.env
.env.local
.env.*.local

# next.js
.next/
out/

# expo
.expo/
.expo-shared/
dist/
web-build/

# build / cache
.turbo/
build/
*.tsbuildinfo

# editor
.vscode/
.idea/
*.swp

# os
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
